---
const { srcImage, altImage, tooltipText, urlLink } = Astro.props;
const isButton = urlLink !== undefined;
---
<style>
.image-tooltip {
  position: relative;
  display: inline-block;
}

.pointer {
  cursor: pointer
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
  text-align: center;
  padding: 7px;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  cursor: default;
  opacity: 0;
}

.pointer {
  & .tooltip-text {
    width: 150px;
  }
}

.image-tooltip:hover .tooltip-text {
  opacity: 1;
}
</style>

<div class={`image-tooltip${isButton ? ' pointer' : ''}`}>
  {urlLink && <img src={srcImage} alt={altImage} onclick={`window.open('${urlLink}', '_blank')`}/>}
  {!urlLink && <img src={srcImage} alt={altImage} />}
  <span class='tooltip-text'>{tooltipText}</span>
</div>