---
import { globalDictionary } from '../i18n/dictionary';
import { getLangFromURL, getTranslations, getPagePath } from '../i18n/util.ts';
import LanguagePicker from './LanguagePicker.astro';

const lang = getLangFromURL(Astro.url);
const dictionary = getTranslations(lang, globalDictionary);
const { activeSection, language } = Astro.props;

// NAV SECTIONS:
const homeSection = dictionary('navbar.home') as string;
const educationSection = dictionary('navbar.education') as string;
const projectsSection = dictionary('navbar.projects') as string;
const contactSection = dictionary('navbar.contact') as string;
---
<style>
  :root {
    --active-section-color: #ff74a3;
  }
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 5px 0 20px 0;
    min-width: 150px;

    & a {
      color: var(--primary-color);
      cursor: pointer;
    }

    & a[data-active] {
      font-weight: bold;
      color: var(--active-section-color);
    }
  }

  @media (min-width: 550px) {
    nav {
      flex-direction: row;
      column-gap: 20px;
      padding: 10px;
    }
  }
</style>

<nav id='section-navigator'>
  <LanguagePicker activeSection={activeSection} />
  <a data-active={activeSection == 0} href={getPagePath(language, homeSection)}>{homeSection}</a>
  <a data-active={activeSection == 1} href={getPagePath(language, educationSection)}>{educationSection}</a>
  <a data-active={activeSection == 2} href={getPagePath(language, projectsSection)}>{projectsSection}</a>
  <a data-active={activeSection == 3} href={getPagePath(language, contactSection)}>{contactSection}</a>
</nav>